extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non metus sed lacus dignissim semper vel id sapien. Phasellus vitae ipsum nunc. Integer blandit neque lorem, ac ornare tellus tempor id. Suspendisse metus sem, condimentum in laoreet non, condimentum nec ex. Integer gravida commodo nisl, vitae aliquam lectus tristique sed. Integer dictum dui tellus, et facilisis ipsum cursus id. Suspendisse maximus, ipsum vitae auctor gravida, justo magna auctor nibh, non iaculis libero tellus at tortor.

                p Maecenas id turpis eget felis posuere egestas. Proin non lacus nisi. Cras porttitor sagittis eleifend. Nullam cursus malesuada commodo. Integer tortor massa, ornare nec ante nec, euismod imperdiet quam. Maecenas et ligula quam. Nam at lorem dapibus, lacinia nibh id, facilisis urna. Fusce magna dolor, faucibus vitae ligula id, suscipit elementum enim. Sed in magna scelerisque, maximus tellus ac, hendrerit lacus.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad",. class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non metus sed lacus dignissim semper vel id sapien. Phasellus vitae ipsum nunc. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos",. class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non metus sed lacus dignissim semper vel id sapien. Phasellus vitae ipsum nunc. 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Precio",. class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non metus sed lacus dignissim semper vel id sapien. Phasellus vitae ipsum nunc. 